.body {
	background-image: url(../tiendaBlur.png);
	font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
	margin-top: 10% !important;
}
#content {
	background: rgba(0, 0, 0, 0.35);
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 20px;
}
.t20 {
	margin-top: 30px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}

.color_letras{
	color: white;
}

.black{
	color: black;
}