{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <p>work in progress</p>
    <span class="navbar-text user-menu-title">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle username" style="color: white" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bienvenid@ {{user}}
            </a>
            <div class="dropdown-menu dropdown-user-style" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link dropdown-item" href="{% url 'userLogout' %}">Cerrar sesión</a>
            </div>
        </div>
    </span>


    <div class="my-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><strong>ListApp</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 myform-cont">
                    <div class="myform-top">
                        <div class="myform-top-left">
                            <h3>Solicitud de nueva tienda</h3>
                            <p>Compruebe los datos recibidos:</p>
                        </div>
                        <div class="myform-top-right">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="myform-bottom">
                        <ul class="list-group t20">
                            {% for t in tienda %}
                            <a href="{% url 'aprobarTienda' t.id %}">
                                <li class="list-group-item">{{ t.nombre }}</li>
                            </a>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <span>Nombre Sucursal:</span>
                                    <br>
                                    <span>Direccion:</span>
                                    <br>
                                    <span>Ciudad:</span>
                                    <br>
                                    <span>Region:</span>
                                </div>
                                <div class="col-6 col-md-6">
                                    <span>{{ t.nombreSucursal }}</span>
                                    <br>
                                    <span>{{ t.direccion }}</span>
                                    <br>
                                    <span>{{ t.ciudad }}</span>
                                    <br>
                                    <span>{{ t.region }}</span>
                                    <br>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include './include/script.html' %}
</body>

</html>