{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'lista/bs/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>

<body>
  <!--Barra de navegacion principal-->
  <nav class="navbar navbar-expand-lg navbar-light bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="botones-mar">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <a class="d-flex justify-content-end color" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        <h3>Bienvenid@ {{user}}</h3>
        <div class="dropdown-menu dropdown-user-style" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link dropdown-item" href="{% url 'userLogout' %}">Cerrar sesión</a>
        </div>
        </a>
        <span>
          <a class="nav-link tienda" href="{% url 'registroTienda' %}">Solicitar nueva tienda</a>
        </span>        
      </div>
      {% else %}
      <div class="navbar-nav">
        <a class="nav-link " href="{% url 'registro' %}">Registro</a>
        <a class="nav-link " href="{% url 'login' %}">Iniciar Sesion</a>
      </div>
      {% endif %}
    </div>
  </nav>
</body>

</html>