{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'lista/bs/css/flatly.min.css' %}" />
	<link rel="stylesheet" href="{% static 'lista/styles.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
	<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>

<body class="body">
	{% include './base.html' %}
	<div class="container-fluid" id="wrapper">

		<div class="row color_letras">
			<div class="col-lg-8 col-lg-offset-2" id="content">
				<h2>¿Que compraremos hoy?</h2>

				<form action="{% url 'agregarProducto' %}" method="POST" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label for="nombreProducto">Nombre del Producto</label>
						<input required class="form-control" type="text" name="nombreProducto">
					</div>
					<div class="form-group">
						<label for="costo_presupuestado">Costo Presupuestado</label>
						<input required class="form-control" type="text" name="costo_presupuestado">
					</div>
					<div class="form-group">
						<label for="costo_real">Costo Real</label>
						<input required class="form-control" type="text" name="costo_real">
					</div>
					<div class="form-group">
						<label for="tiendaCompraProducto">Tienda</label>
						<select class="form-control" name="tiendaCompraProducto">
							{% for tienda in tienda %}
							{% if tienda.aprobado %}
							<option value="{{ tienda.nombre }}">{{ tienda.nombre }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" id="add-btn">Agregar</button>
					</span>


				</form>

				<div class="row t10">
					<div class="col-lg-12">
						<div class="btn-toolbar">
							<div class="btn-group">
								<a href="{% url 'eliminarComprados' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> Eliminar Comprados
									</button></a>
							</div>
							<div class="btn-group">
								<a href="{% url 'eliminarTodos' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> Eliminar Todos
									</button></a>
							</div>
						</div>
					</div>
				</div>

				<ul class="list-group t20">
					{% for producto in pro_lista %}
					{% if producto.comprado %}
					<div>
						<li class="list-group-item todo-completed">{{ producto.nombreProducto }}</li>
						<a href="editarProducto" onclick="editarProducto('{{producto.id}}', '{{producto.nombreProducto}}', '{{producto.costo_real}}', '{{producto.tiendaCompraProducto}}')">Editar</a>
					</div>
					<div class="row">
						<div class="col-6 col-md-6">
							<span>Costo Presupuestado:</span>
							<br>
							<span>Costo Real:</span>
							<br>
							<span>Tienda:</span>
						</div>
						<div class="col-6 col-md-6">
							<span>{{ producto.costo_presupuestado }}</span>
							<br>
							<span>{{ producto.costo_real }}</span>
							<br>
							<span>{{ producto.tiendaCompraProducto}}</span>
						</div>
					</div>
					{% else %}
					<a href="{% url 'comprado' producto.id %}">
						<li class="list-group-item">{{ producto.nombreProducto }}</li>
					</a>
					<div class="row">
						<div class="col-6 col-md-6">
							<span>Costo Presupuestado:</span>
							<br>
							<span>Costo Real:</span>
							<br>
							<span>Tienda:</span>
						</div>
						<div class="col-6 col-md-6">
							<span>{{ producto.costo_presupuestado }}</span>
							<br>
							<span>{{ producto.costo_real }}</span>
							<br>
							<span>{{ producto.tiendaCompraProducto}}</span>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</ul>
				<div>
					<h3>Detalles de la lista</h3>
					<p>Hay {{ count }} producto(s) en la lista</p>

					<p>Total costo presupuestado: {{ pre }}</p>

					<p>Total costo real: {{ real }}</p>
				</div>
			</div>
		</div>

		<footer>
			<div class="row pad black">
				<div class="col-lg-12 text-center">
					Copyright &copy; 2018 <strong>Lista de compras</strong>
				</div>
			</div>
		</footer>
	</div>

	{% include './include/script.html' %}
</body>

</html>