{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link rel="manifest" href="/manifest.json">
</head>
{% load socialaccount %}

<body>
  <div class="my-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h1><strong>ListApp</strong> </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 myform-cont">
          <div class="myform-top">
            <div class="myform-top-left">
              <h3>Ingresa a nuestra app</h3>
              <p>Digita tu usuario y contraseña:</p>
            </div>
            <div class="myform-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="myform-bottom">
            <form method="POST" class="form-signin" id="login" action="{% url 'login_iniciar' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="username" placeholder="Usuario..." class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña..." class="form-control">
              </div>
              <button type="submit" class="mybtn">Entrar</button>
            </form>
            <p>¿No tienes cuenta?, ¡Registrate!</p>
            <button class="mybtn" onclick="location.href='registro';">Registrarse</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mysocial-login">
          <h3>...ingresa también por:</h3>
          <div class="mysocial-login-buttons">
            <a class="mybtn-social" href="{% provider_login_url "google" method="oauth2" %}">
              <i class="fa fa-google"></i> Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include './include/script.html' %}
</body>

</html>