{% load static %}
<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="manifest" href="/manifest.json">
</head>

<body >
    <div class="my-content" >
        <div class="container" > 
            <div class="row">
                <div class="col-sm-12" >
                  <h1><strong>ListApp</strong></h1>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 myform-cont" >
                    <div class="myform-top">
                        <div class="myform-top-left">
                          <h3>Solicita una nueva tienda</h3>
                            <p>Por favor ingresa los datos de la tienda que desee agregar:</p>
                            <p>Revisaremos esta peticion, se notificara cuando esta sea aprobada</p>
                        </div>
                        <div class="myform-top-right">
                          <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="myform-bottom">
                      <form id="formulario" method="POST" action="{% url 'agregarTienda' %}">
                      {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="nombreTienda" placeholder="Nombre de la tienda" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombreSucursal" placeholder="Nombre de la sucursal" class="form-control" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" placeholder="direccion" class="form-control" >
                        </div>
                        <div class="form-group">
                            <select name="region" class="form-control" id="region">
                                <option hidden>Seleccione Regíon</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="comuna" id="comuna">
                                <option hidden>Seleccione Comuna</option>
                            </select>
                        </div>

                        <button type="submit" class="mybtn">Registrar tienda</button>
                      </form>
                    </div>
              </div>
            </div>
        </div>
      </div>

    {% include './include/script.html' %}
    
</body>

</html>