{% load static %}
<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="manifest" href="/manifest.json">
</head>

<body >
    <div class="my-content" >
        <div class="container" > 
            <div class="row">
                <div class="col-sm-12" >
                  <h1><strong>ListApp</strong></h1>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 myform-cont" >
                    <div class="myform-top">
                        <div class="myform-top-left">
                          <h3>Regístrate en nuestra app</h3>
                            <p>Por favor ingresa tus datos personales:</p>
                        </div>
                        <div class="myform-top-right">
                          <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="myform-bottom">
                      <form id="formulario" method="POST" action="{% url "crear" %}">
                      {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control" >
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" >
                        </div>
                        <div class="form-group">
                            <input type="password" name="repassword" placeholder="Confirme Contraseña" class="form-control" >
                        </div>
                        <button type="submit" class="mybtn">Registrarme</button>
                      </form>
                    </div>
              </div>
            </div>
        </div>
      </div>

    <script src="{% static '/js/bootstrap.js' %}"></script>
    
</body>

</html>