{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'lista/bs/css/flatly.min.css' %}" />
<link rel="stylesheet" href="{% static 'lista/styles.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css"> 
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"> 
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>



<title>Compra</title>