{% load static %}
  <script src="{% static './js/jquery-3.3.1.js' %}"></script>
  <script src="{% static './js/jquery.validate.js' %}"></script>
  <script src="{% static './js/additional-methods.js' %}"></script>
  <script src="{% static './js/jquery.rut.js' %}"></script>
  <script src="{% static './js/popper.js' %}"></script>
  <script src="{% static './js/bootstrap.js' %}"></script>
  <script src="{% static './js/app.js' %}"></script>